# Copia este archivo como .env y llena los valores
# Los obtienes en tu proyecto de Supabase > Settings > API

VITE_SUPABASE_URL=https://zzrvcssyypkohukwymvx.supabase.co/rest/v1/
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inp6cnZjc3N5eXBrb2h1a3d5bXZ4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzU5MDQxMzcsImV4cCI6MjA5MTQ4MDEzN30.SHE3_QycmUa_2vjvzteUg_DLX_f5drpON6hXHzDi9iM
